/* * {
  border: 2px solid blue;
} */
#profile-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

#profile-left-side {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: flex-start;
  align-items: center;
}
#profile-right-side {
  display: flex;
  flex-direction: column;

  align-items: center;
  height: 100vh;
}

#profile-photo-container {
  display: flex;
  justify-content: center;
  margin: 0;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

#about-me-box {
  display: flex;
  height: 150px;
  width: 180px;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

#post-component-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid black;
}
