#friends-list-container {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  justify-content: space-between;
  margin: 0;
  width: 90%;
  margin-top: 20px;
}

.friend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  padding: 10px;
  height: 50px;
  width: 50px;
  border-radius: 30px;
  margin: 10px 2px 10px 2px;
}

.friend > img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

h3 {
  margin: 0;
  padding-top: 20px;
}

#friend-list-avatar {
  display: flex;
}

a {
  text-decoration: none;
  color: var(--main-btn-link-text-color);
}
span {
  width: 100px;
}
