#all-users-container {
  width: 500px;
  height: 500px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 0;
}

.user-avatar {
  border-radius: 50%;
  display: flex;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-avatar-all-page {
  height: 50px;
  width: 50px;

  border: 2px solid black;
  border-radius: 50%;
}

