#all-users-container {
  width: 500px;
  height: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 30px;
  padding: 0;
}

.user-avatar {
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  border-radius: 50%;
  display: flex;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
}

.avatar-container {
  display: flex;
  align-items: center;
}
