@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");

:root {
  --main-bg-color: lightcyan;
  --main-btn-color: powderblue;
  --main-btn-border-color: grey;
  --main-old-posts-color: powderblue;
  --main-btn-link-text-color: black;
  --main-btn-link-bg-color-hover: teal;
  --main-btn-link-text-color-hover: white;
}
.App {
  text-align: center;
  font-family: "Kanit", sans-serif;
  background-color: var(--main-bg-color);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

button {
  background-color: var(--main-btn-color);
  border-color: var(--main-btn-border-color);
  color: var(--main-btn-link-text-color);
  border-radius: 10px;
}

button:hover {
  background-color: var(--main-btn-link-bg-color-hover);

  border-color: var(--main-btn-border-color);
  color: var(--main-btn-link-text-color-hover);
  border-radius: 10px;
}
