@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");

.App {
  text-align: center;
  font-family: "Kanit", sans-serif;
  background-color: var(--main-bg-color);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

button {
  background-color: var(--main-btn-color);
  border-color: var(--main-btn-border-color);
  color: var(--main-btn-link-text-color);
  border-radius: 10px;
}

button:hover {
  background-color: var(--main-btn-link-bg-color-hover);

  border-color: var(--main-btn-border-color);
  color: var(--main-btn-link-text-color-hover);
  border-radius: 10px;
}

h1,
h2,
h3,
.about-me-cat,
.div-text {
  color: var(--main-div-text-color);
}
